/*
Theme Name: Elegant Magazine
Theme URI: https://www.afthemes.com/products/elegant-magazine/
Author: AF themes
Author URI: https://www.afthemes.com/
Description: An elegant and minimalist theme, which is predominantly designed for a web news portal and magazine with an immense research on contemporary online newspapers. With the help of available customizer options and widgets, you can implement layout as a trending news journals, modern fashion magazine, travel blogging & magazine, clean and minimal news sites, blogging site and even more. The theme is SEO friendly with optimized code and awesome support. See our demos: https://demo.afthemes.com/elegant-magazine/, https://demo.afthemes.com/elegant-magazine/newsportal/, https://demo.afthemes.com/elegant-magazine/minimal/, https://demo.afthemes.com/elegant-magazine/architecture-and-interior/, https://demo.afthemes.com/elegant-magazine/travel-blog/ and support at : https://afthemes.com/forums/forum/elegant-magazine/
Version: 1.2.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: elegant-magazine
Tags: news, blog, entertainment, one-column, two-columns, left-sidebar, right-sidebar, custom-background, custom-menu, featured-images, full-width-template, custom-header, translation-ready, theme-options, threaded-comments

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Elegant Magazine is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Elegant Magazine WordPress Theme, Copyright 2018 AF themes
Elegant Magazine is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
# Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
    font-family: sans-serif;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
    color: #757575;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    color: #000000;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
.main-navigation a,
.font-family-1,
.site-description,
.trending-posts-line,
.widget-title,
.em-widget-subtitle,
.grid-item-metadata .item-metadata,
.af-navcontrols .slide-count,
.figure-categories .cat-links,
.nav-links a {
    font-family: 'Oswald', sans-serif;
}

p {
    margin-bottom: 15px;
}

dfn, cite, em, i {
    font-style: italic;
}

blockquote {
    font-style: italic;
    border: 0;
    position: relative;
    text-align: center;
    font-size: 1.5625em;
    line-height: 1.44;
    margin-top: 2.57143em;
    margin-bottom: 2.14286em;
    padding-top: 1.71429em;
    padding-bottom: 1.71429em;
}

blockquote blockquote {
    font-size: 1em;
    margin-bottom: 0;
    padding-bottom: 0;
}

blockquote blockquote:after {
    border-bottom: 0;
}

@media not screen and (min-width: 992px) {
    blockquote {
        font-size: 1.125em;
        line-height: 1.33333;
        margin-top: 2.66667em;
        margin-bottom: 2em;
        padding: 0.66667em;
        padding-top: 1.33333em;
        padding-bottom: 1.33333em;
    }
}

blockquote:before {
    content: "\201C";
    position: absolute;
    top: -0.75em;
    left: 50%;
    padding: 0 0.857em;
    color: black;
    background: white;
    z-index: 1;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

blockquote:after {
    content: "";
    display: block;
    width: 9em;
    margin-left: -4.5em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border: 1px solid #e5e5e5;
    border-left: 0;
    border-right: 0;
}

blockquote cite {
    display: block;
    margin-top: 1.5em;
    font-size: 0.57143em;
    line-height: 1.5;
    font-style: normal;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code, kbd, tt, var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr, acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark, ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: #fff;
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul, ol {
    margin: 0 0 1.5em 3em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dl {
    border: 2px solid #e8e8e8;
    padding: 2.5em;
}

dt {
    text-align: left;
    font-size: 130%;
    font-weight: bold;
}

dd {
    margin: 0;
    padding: 0 0 1em 0;
}

img {
    height: auto;
    max-width: 100%;
}

figure {
    margin: 0 auto;
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    font-size: 16px;
    line-height: 1;
    outline: none;
    padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
}

.em-view-more {
    display: block;
    margin: 20px auto;
    padding: 20px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
    outline: none;
}

input, select {
    height: 45px;
    line-height: 45px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #111;
}

select {
    border: 1px solid #ccc;
}

textarea {
    width: 100%;
}

.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.no-gutter .no-gutter-col {
    padding-left: 0;
    padding-right: 0;
}

@media only screen and (min-width: 768px) {
    .pad-0l {
        padding-left: 0 !important;
    }

    .pad-0r {
        padding-right: 0 !important;
    }

    .pad-0lr {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.table-block {
    display: table;
    width: 100%;
    height: 100%;
}

.table-block-child {
    display: table-cell;
}

.v-center {
    vertical-align: middle;
}

.v-top {
    vertical-align: top;
}

.v-bottom {
    vertical-align: bottom;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
    color: #404040;
    text-decoration: none;
}

a:visited {
    color: #404040;
}

a:hover, a:focus, a:active {
    color: #F44336;
    outline: 0;
    text-decoration: none;
}

a:focus {
    outline: 0;
}

a:hover, a:active {
    outline: 0;
    text-decoration: none;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-bottom: 25px;
    text-align: center;
}

.navigation-container {
    border-left: 1px solid;
    border-right: 1px solid;
    position: relative;
}

.icon-search {
    border-left: 1px solid;
    text-align: center;
    right: 0;

}

.icon-search,
.offcanvas {
    cursor: pointer;
    position: absolute;
    line-height: 55px;
    height: 55px;
    width: 80px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

.offcanvas {
    font-size: 18px;
    display: table;
    text-align: center;
    border-right: 1px solid;
    left: 0;
}

.offcanvas-nav {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.offcanvas-menu {
    position: relative;
    overflow: hidden;
    width: 24px;
    height: 17px;
    margin: 0 auto;
}

.offcanvas-menu span {
    position: absolute;
    display: inline-block;
    width: 100%;
    left: 0;
    height: 3px;
    transition: .1s width linear;
}

@media only screen and (max-width: 75em) {
    .offcanvas-menu span {
        right: auto;
        left: 0;
    }
}

.offcanvas-menu span.mbtn-mid {
    top: 50%;
    width: 80%;
    margin-top: -1.5px;
}

.offcanvas-menu span.mbtn-bot {
    bottom: 0;
    width: 60%;
}

.offcanvas:hover .offcanvas-menu span,
.offcanvas:focus .offcanvas-menu span {
    width: 100%;
}

#af-search-wrap {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: rgba(255, 255, 255, .94);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    width: 100%;
    height: 100%;
    z-index: 999999;
    -webkit-transition: -webkit-transform 0.25s ease;
    -moz-transition: -moz-transform 0.25s ease;
    -ms-transition: -ms-transform 0.25s ease;
    -o-transition: -o-transform 0.25s ease;
    transition: transform 0.25s ease;
}

.af-search-toggle {
    opacity: 1 !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    -ms-transform: translate3d(0, 0, 0) !important;
    -o-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
}

.af-search-close span {
    display: block;
    position: absolute;
    left: 0;
    width: 60px;
    top: 27px;
    background: #444;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -ms-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    height: 3px;
}

.af-search-close {
    cursor: pointer;
    position: absolute;
    height: 60px;
    top: 60px;
    right: 80px;
    width: 60px;
}

.af-search-close span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.af-search-close span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.main-navigation .toggle-menu {
    height: 55px;
    cursor: pointer;
    display: none;
}

.ham {
    width: 23px;
    height: 2px;
    top: 27px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #282828;
    position: relative;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.ham:before,
.ham:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #282828;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.ham:before {
    top: -8px;
}

.ham:after {
    top: 8px;
}

.ham.exit {
    background-color: transparent;
}

.ham.exit:before {
    -webkit-transform: translateY(8px) rotateZ(-45deg);
    -moz-transform: translateY(8px) rotateZ(-45deg);
    -ms-transform: translateY(8px) rotateZ(-45deg);
    -o-transform: translateY(8px) rotateZ(-45deg);
    transform: translateY(8px) rotateZ(-45deg);
}

.ham.exit:after {
    -webkit-transform: translateY(-8px) rotateZ(45deg);
    -moz-transform: translateY(-8px) rotateZ(45deg);
    -ms-transform: translateY(-8px) rotateZ(45deg);
    -o-transform: translateY(-8px) rotateZ(45deg);
    transform: translateY(-8px) rotateZ(45deg);
}

.main-navigation .menu > ul {
    display: inline-block;
    margin: 0 80px;
    padding: 0;
    list-style: none;
    vertical-align: top;
}

.main-navigation .menu ul li {
    position: relative;
    display: block;
    float: left;
}

.main-navigation .menu ul li a {
    text-rendering: optimizeLegibility;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
}

.main-navigation .menu ul li i {
    padding: 0 10px;
    display: inline-block;
    line-height: 1px;
}

.main-navigation .menu ul.menu-desktop > li > a {
    display: block;
    padding: 15px;
}

@media only screen and (min-width: 1600px) {
    .main-navigation .menu ul li a {
        font-size: 18px;
    }
}

@media only screen and (min-width: 992px) {
    .main-navigation .menu ul ul li {
        width: 260px;
    }

    .main-navigation .menu ul ul a {
        border-top: 1px solid rgba(0, 0, 0, .1);
        display: block;
        padding: 12px 30px;
        line-height: inherit;
        position: relative;
    }

    .main-navigation .menu > ul > li > a:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        top: 0;
        left: 0;
        right: 0;
    }

    .main-navigation .menu ul ul a:before {
        margin-right: 10px;
        position: absolute;
        left: 15px;
        top: 16px;
        display: inline-block;
        content: "\f105";
        font-weight: 600;
    }

    .main-navigation .menu ul ul {
        background: #fff;
        position: absolute;
        text-align: left;
        visibility: hidden;
        filter: alpha(opacity=0);
        opacity: 0;
        margin: 0 auto;
        padding: 0;
        -webkit-transition: opacity 0.2s, top 0.4s, visibility 0s linear 0.4s;
        -moz-transition: opacity 0.2s, top 0.4s, visibility 0s linear 0.4s;
        -ms-transition: opacity 0.2s, top 0.4s, visibility 0s linear 0.4s;
        -o-transition: opacity 0.2s, top 0.4s, visibility 0s linear 0.4s;
        transition: opacity 0.2s, top 0.4s, visibility 0s linear 0.4s;
        -webkit-box-shadow: -1px 2px 5px 0 rgba(0, 0, 0, 0.15);
        -moz-box-shadow: -1px 2px 5px 0 rgba(0, 0, 0, 0.15);
        -ms-box-shadow: -1px 2px 5px 0 rgba(0, 0, 0, 0.15);
        -o-box-shadow: -1px 2px 5px 0 rgba(0, 0, 0, 0.15);
        box-shadow: -1px 2px 5px 0 rgba(0, 0, 0, 0.15);
    }

    .main-navigation .menu li:hover > ul,
    .main-navigation .menu li:focus > ul {
        visibility: visible;
        filter: alpha(opacity=1);
        opacity: 1;
        z-index: 999;
        top: 100%;
        -webkit-transition: opacity 0.4s, top 0.4s;
        -moz-transition: opacity 0.4s, top 0.4s;
        -ms-transition: opacity 0.4s, top 0.4s;
        -o-transition: opacity 0.4s, top 0.4s;
        transition: opacity 0.4s, top 0.4s;
    }

    .main-navigation .menu > ul > li > ul {
        top: 120%;
        left: 0;
    }

    .main-navigation .menu > ul > li:last-child > ul {
        left: auto;
        right: 0;
    }

    .main-navigation .menu ul ul ul {
        top: -20px;
        left: 100%;
    }

    .main-navigation .menu ul ul li:hover ul {
        top: 0;
    }

}

.main-navigation .menu .menu-mobile {
    margin: 0;
    padding: 0;
    display: block;
    list-style: none;
    text-align: left;
    position: relative;
    z-index: 9999;
    display: none;
}

.main-navigation .menu .menu-mobile li {
    display: block;
    border-top: 1px solid #2d2d2d;
    float: none;
}

.main-navigation .menu .menu-mobile li a {
    line-height: 50px;
    display: block;
    position: relative;
    padding-right: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.main-navigation .menu .menu-mobile li a:hover {
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.main-navigation .menu .menu-mobile li a i {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30px;
    z-index: 1;
}

.main-navigation .menu .menu-mobile li a i.active:after {
    width: 13px;
    height: 1px;
}

.main-navigation .menu .menu-mobile li a i:before,
.main-navigation .menu .menu-mobile li a i:after {
    content: '';
    width: 13px;
    height: 1px;
    background-color: #848484;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.main-navigation .menu .menu-mobile li a i:after {
    width: 1px;
    height: 13px;
}

.main-navigation .menu .menu-mobile li .sub-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid #2d2d2d;
    display: none;
}

.main-navigation .menu .menu-mobile li .sub-menu > li a {
    margin-left: 15px;
}

.main-navigation .menu .menu-mobile li .sub-menu > li:first-child {
    border-top: 0;
}

/*------------------------------------------------------------
 * ## Post-navigation
 *------------------------------------------------------------
 */
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    border: 1px solid;
    overflow: hidden;
    margin: 1.5em 0;
    padding: 10px;
    position: relative;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
    position: relative;
}

.nav-previous,
.nav-next {
    display: table;
    padding: 5px 5px;
}

.nav-previous:before,
.nav-next:after {
    content: "";
    display: table-cell;
    line-height: 1;
    vertical-align: middle;
    font: normal normal normal 44px/1 'Font Awesome 5 Free';
    font-weight: 900;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nav-previous:before {
    content: "\f0a8";
}

.nav-next:after {
    content: "\f0a9";
}

.nav-previous a,
.nav-next a {
    display: table-cell;
    font-size: 18px;
    letter-spacing: 0.04rem;
    padding: 0 15px;
    text-transform: uppercase;
    vertical-align: middle;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}

.site-main .comment-navigation:after,
.site-main .posts-navigation:after,
.site-main .post-navigation:after {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    background: #e8e8e8;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-branding:before,
.site-branding:after,
.main-navigation:before,
.main-navigation:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.categorised-article-list:before,
.categorised-article-list:after,
.elegant-widget:before,
.elegant-widget:after,
.hentry:before,
.hentry:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-branding:after,
.main-navigation:after,
.site-content:after,
.site-footer:after,
.categorised-article-list:after,
.elegant-widget:after,
.hentry:after {
    clear: both;
}

.entry-content ul, 
.entry-content ol{
    padding-left: 15px;
    margin-left: 15px;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
    margin: 0 0 1.5em;
    /* Make sure select elements fit in widgets. */
}

.widget-title {
    font-size: 24px;
    font-weight: 500;
    margin: 0 auto 15px;
    padding: 15px 0;
    position: relative;
    text-transform: uppercase;
}

#primary .widget-title {
    font-size: 24px;
    line-height: 1.10909;
}

#primary .em-widget-subtitle {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-top: -20px;
}

.widget-title-1,
#secondary .widget-title,
.site-footer .widget-title {
    border-bottom: 3px solid #000;
    padding-bottom: 15px;
    padding-top: 0;
}

.site-footer .widget-title {
    border-color: #fff;
    color: #fff;
}

.site-content .site-main .widget-title span {
    background: #fff;
    padding-right: 20px;
    position: relative;
    z-index: 1;
}

.site-content .site-main .widget-title span,
#primary .af-tabs.nav-tabs > li > a,
.archive .site-content .header-title-wrapper .page-title,
.search-results .site-content .header-title-wrapper .page-title,
header.entry-header h1.entry-title{
    font-size: 36px;
    line-height: 1.4;
    text-transform: uppercase;
}

.site-content .site-main .widget-title:after {
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    top: 50%;
    margin-top: 1px;
    width: 100%;
    left: 0;
    background: #000;
}

@media (min-width: 1600px) {
    #primary .widget-title {
        font-size: 42px;
    }
}

.widget select {
    max-width: 100%;
}

.widget ol,
.widget ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.widget ul li {
    padding-bottom: 10px;
}

.widget ol li,
.widget ul li {
    margin-bottom: 10px;
}

.widget ul li.full-item,
.widget .af-tabs li {
    margin: 0 auto;
    padding: 0;
}

.site-footer .widget ul li {
    border-bottom: 0;
    padding-bottom: 5px;
}

.widget_recent_comments li a,
.widget_pages li a,
.widget_archive li a,
.widget_meta li a,
.widget_categories li,
.widget_nav_menu li a,
.widget_recent_entries li a {
    border-bottom: 1px solid #35373c;
    display: table;
    padding-bottom: 10px;
    font-size: 17px;
    position: relative;
    width: 100%;
}

.site-content .widget_recent_comments li a,
.site-content .widget_pages li a,
.site-content .widget_archive li a,
.site-content .widget_meta li a,
.site-content .widget_categories li,
.site-content .widget_nav_menu li a,
.site-content .widget_recent_entries li a {
    color: #757575;
    border-color: #e5e5e5;
}

.af-tabs {
    border: 0;
}

.af-tabs.nav-tabs > li > a {
    color: #ccc;
    padding: 15px 15px 15px 50px;
    text-transform: uppercase;
}

.af-tabs.nav-tabs > li > a,
.af-tabs.nav-tabs > li.active > a,
.af-tabs.nav-tabs > li.active > a:focus,
.af-tabs.nav-tabs > li.active > a:hover {
    background: transparent;
    border: 0;
}

.af-tabs.nav-tabs > li.active > a,
.af-tabs.nav-tabs > li:hover > a,
.af-tabs.nav-tabs > li:focus > a {
    color: #404040;
}

.primary-footer .af-tabs.nav-tabs > li.active > a,
.primary-footer .af-tabs.nav-tabs > li:hover > a,
.primary-footer .af-tabs.nav-tabs > li:focus > a {
    color: #fff;
}

#wp-calendar {
    width: 100%;
    margin: 0;
}

#wp-calendar caption {
    text-align: right;
}

#wp-calendar thead th {
    text-align: center;
}

#wp-calendar tbody td {
    border: 1px solid #313131;
    text-align: center;
    padding: 8px;
}

.site-content #secondary #wp-calendar tbody td {
    border: 1px solid #e8e8e8;
}

#wp-calendar tbody td:hover {
    background: #000;
    filter: alpha(opacity=42);
    opacity: .42;
}

#wp-calendar tbody .pad {
    background: none;
}

#wp-calendar tfoot #next {
    text-transform: uppercase;
    text-align: left;
    border: none;
    background: none;
}

#wp-calendar tfoot #prev {
    text-transform: uppercase;
    text-align: left;
    border: none;
    background: none;
}

#wp-calendar tfoot td.pad {
    display: none;
}

.site-content .search-form,
.site-footer .search-form {
    padding-top: 20px;
}

.site-content .search-form label,
.site-footer .search-form label {
    display: block;
    width: 70%;
    float: left;
}

.site-content .search-form label .search-field,
.site-footer .search-form label .search-field {
    padding-left: 15px;
    width: 100%;
}

.site-content .search-form .search-submit,
.site-footer .search-form .search-submit {
    width: 30%;
    font-size: 16px;
    text-transform: uppercase;
}

.search-form label .search-field {
    height: 45px;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.search-form .search-submit {
    border: 0;
    color: #fff;
    height: 45px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.af-search-box .search-form {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

.af-search-box .search-form label {
    width: 85%;
    width: calc(100% - 200px);
}

.af-search-box .search-form .search-submit {
    float: right;
    font-size: 24px;
    width: 200px;
    height: 60px;
    line-height: 60px;
    padding-top: 0;
    padding-bottom: 0;
}

.af-search-box .search-form label .search-field {
    border-width: 1px 0 1px 1px;
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    width: 100%;
}

.posts-author-wrapper .em-author-img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.em-author-details {
    text-align: center;
}

.em-author-display-name {
    margin: 25px auto;
}

#primary .posts-author-wrapper .em-author-img {
    float: left;
    margin-left: 0;
    overflow: hidden;
}

#primary .posts-author-wrapper .em-author-details {
    float: left;
    text-align: left;
    padding-left: 20px;
    width: 70%;
    width: calc(100% - 200px);
}

#primary .posts-author-wrapper .em-author-details ul {
    text-align: left;
}

@media (max-width: 560px) {
    #primary .posts-author-wrapper .em-author-details {
        width: 100%;
    }
}

.tagcloud a {
    font-size: 14px !important;
    text-transform: uppercase;
    line-height: 25px;
    border: 1px solid;
    padding: 5px 12px;
    margin-bottom: 16px;
    display: inline-block;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
#af-preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f1f1f1;
    z-index: 9999999;
    height: 100%;
    width: 100%;
    display: table;
}

.af-loader {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.loader-circle {
    position: absolute;
    left: 47%;
    top: 50%;
    margin: auto;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    background: #999;
    animation: 1.15s infinite ease-in-out;
    -webkit-animation: 1.15s infinite ease-in-out;
    -moz-animation: 1.15s infinite ease-in-out;
    animation-name: loader;
    -webkit-animation-name: loader;
    -moz-animation-name: loader;
}

.loader-circle:before,
.loader-circle:after {
    animation: 1.15s infinite ease-in-out;
    -webkit-animation: 1.15s infinite ease-in-out;
    -moz-animation: 1.15s infinite ease-in-out;
}

.loader-circle:before,
.loader-circle:after {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes loader {
    from {
        transform: scale(0);
        opacity: 1;
    }
    to {
        transform: scale(1);
        opacity: 0.5;
    }
}

@-ms-keyframes loader {
    from {
        -ms-transform: scale(0);
        opacity: 1;
    }
    to {
        -ms-transform: scale(1);
        opacity: 0.5;
    }
}

@-webkit-keyframes loader {
    from {
        -webkit-transform: scale(0);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(1);
        opacity: 0.5;
    }
}

@-moz-keyframes loader {
    from {
        -moz-transform: scale(0);
        opacity: 1;
    }
    to {
        -moz-transform: scale(1);
        opacity: 0.5;
    }
}

.bg-image,
.data-bg {
    width: 100%;
    display: block;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.data-bg .site-branding .site-title {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
}

.data-bg-hover:before {
    content: "";
    background: #222;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=0);
    opacity: 0;
}

.data-bg-hover:hover:before,
.data-bg-hover:hover:before {
    filter: alpha(opacity=10);
    opacity: .1;
}

.data-bg-hover-1:before {
    filter: alpha(opacity=100);
    opacity: 1;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.7) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.7)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.7) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.7) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.7) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#b3000000', GradientType=0);

}

.data-bg-hover-1:hover:before,
.data-bg-hover-1:hover:focus {
    filter: alpha(opacity=100);
    opacity: 1;
}

.article-item-image {
    background: #222;
}

.article-item-image img {
    filter: alpha(opacity=90);
    opacity: .9;
    width: 100%;
}

.article-item-image:hover img,
.article-item-image:focus img {
    opacity: 1;
}

.data-bg-slide {
    height: 390px;
}

.em-latest-post-carousel .data-bg-slide, #secondary .data-widget-slide {
    height: 300px;
}

.em-latest-post-carousel .slider-figcaption, #secondary .slider-figcaption {
    padding: 20px;
}

#secondary .slider-figcaption .slide-title {
    font-size: 18px;
}

.data-widget-slide {
    height: 490px;
}

.data-bg-featured,
.data-bg-categorised,
.data-widget-featured {
    height: 210px;
}

@media (min-width: 1600px) {
    .data-bg-slide {
        height: 460px;
    }

    .data-widget-slide {
        height: 500px;
    }

    .data-bg-featured,
    .data-bg-categorised {
        height: 250px;
    }

    .data-widget-featured {
        height: 290px;
    }
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

.top-masthead {
    background: #353535;
}

.top-masthead-overlay {
    background: rgba(0, 0, 0, .75);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.admin-bar .top-masthead-overlay {
    top: 32px;
}

.top-masthead,
.top-masthead a {
    color: #fff;
}

.topbar-date {
    margin-right: 15px;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    padding-right: 20px;
}

.top-navigation {
    display: inline-block;
}

.top-navigation ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.top-navigation ul li {
    display: inline-block;
}

.top-navigation ul li a {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    height: 45px;
    line-height: 45px;
}

.top-navigation ul li:first-child a {
    padding-left: 0;
}

.masthead-banner {
    padding: 50px 0;
}

.masthead-banner.data-bg {
    padding: 75px 0;
}

.masthead-banner.data-bg:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(0,0,0,.5);
}

.masthead-banner .site-branding {
    text-align: center;
}

.site-branding .site-title {
    font-size: 48px;
    line-height: 1.4;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.28em;
}

.site-header .site-branding .site-title a {
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 500;
}

.site-branding .site-description {
    margin: 10px auto 0;
    letter-spacing: .22rem;
    text-transform: uppercase;
}

.site-content {
    background: #fff;
    margin: 40px auto;
}

.home .site-content {
    margin-top: 0;
}

.single.full-width-content .site-content .entry-content-wrap {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .site-content {
        width: 750px;
    }

    .full-width-content {

    }

    body.custom-background .site-content {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .site-content {
        width: 970px;
    }

    body.custom-background .site-content {
        width: 940px;
    }
}

@media (min-width: 1200px) {
    .site-content {
        width: 1170px;
    }

    .home.full-width-content .container,
    .home.full-width-content .site-content {
        width: 1100px;
    }

    .single.full-width-content .site-content .entry-content-wrap {
        width: 980px;
    }

    body.custom-background .site-content {
        width: 1140px;
    }
}

@media (min-width: 1600px) {
    .site-content,
    .container {
        width: 1570px;
    }

    .home.full-width-content .container,
    .home.full-width-content .site-content {
        width: 1500px;
    }

    body.custom-background .site-content {
        width: 1540px;
    }
}

body.custom-background .site-content .em-breadcrumbs .container {
    width: 100%;
}

#primary,
#secondary,
.primary-1 {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

#primary,
.primary-1 {
    width: 70%;
}

#secondary {
    width: 30%;
}

.full-width-content #primary,
.full-width-content .primary-1,
#primary.content-area.full-width,
.error404 #primary {
    width: 100%;
}

.align-content-right #primary,
.align-content-right .primary-1 {
    float: right;
}

@media only screen and (min-width: 992px) {
    .align-content-left #primary,
    .align-content-left .primary-1 {
        padding-right: 30px;
    }

    .single.align-content-left #primary,
    .archive.align-content-left #primary {
        /*border-right: 1px solid;*/
    }

    .align-content-left #secondary {
        padding-left: 30px;
    }

    .align-content-right #primary,
    .align-content-right .primary-1 {
        padding-left: 30px;
    }

    .single.align-content-right #primary,
    .archive.align-content-right #primary {
        border-left: 1px solid;
    }

    .align-content-right #secondary {
        padding-right: 30px;
    }

}

@media only screen and (max-width: 991px) {
    #primary,
    #secondary,
    .primary-1 {
        width: 100%;
    }
}

.row-sm {
    margin-left: -5px;
    margin-right: -5px;
}

.col {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}

#primary .col-one {
    width: 10%;
}

#primary .col-two {
    width: 20%;
}

#primary .col-three {
    width: 30%;
}

#primary .col-four {
    width: 40%;
}

#primary .col-five {
    width: 50%;
}

#primary .col-six {
    width: 60%;
}

#primary .col-seven {
    width: 70%;
}

#primary .col-eight {
    width: 80%;
}

#primary .col-nine {
    width: 90%;
}

#primary .col-ten {
    width: 100%;
}

#secondary .base-border .col,
.site-footer .base-border .col {
    margin-top: 15px;
    margin-bottom: 15px;
}

#secondary .col.col-image,
.site-footer .col.col-image {
    width: 40%;
}

#secondary .col.col-details,
.site-footer .col.col-details {
    width: 60%;
}

@media only screen and (max-width: 767px) {
    #primary .col-five {
        width: 100%;
    }
}

.base-border {
    position: relative;
}

.base-border:before {
    content: "";
    position: absolute;
    background: #e8e8e8;
    left: 5px;
    right: 0;
    width: 98%;
    width: calc(100% - 10px);
    height: 1px;
}

.primary-footer .base-border:before {
    background: #35373c;
    left: 0;
}

#primary .align-items-center {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center !important;
    align-items: center !important;
}

#primary .archive-image-right .align-items-center {
    display: -webkit-flex; /* Safari */
    -webkit-flex-flow: row-reverse wrap; /* Safari 6.1+ */
    display: flex;
    flex-flow: row-reverse wrap;
}

.em-express-article-grids {
    padding-bottom: 10px;
}

.em-express-article-lists {
    margin-bottom: 10px;
}

#primary .em-express-article-lists .col-four.col-image {
    width: 41%;

}

#primary .em-express-article-lists .col-six.col-details {
    width: 59%;

}

.af-main-banner {
    border-bottom: 1px solid;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.af-navcontrols {
    position: absolute;
    bottom: 20px;
    right: 35px;
}

.slide-count {
    display: inline-block;
}

.banner-half {
    border-style: solid;
    border-width: 0 1px 1px 0;
}

.widget .slick-current .banner-half {
border-left-width: 1px;
}

.banner-half figcaption {
    padding: 20px;
}

@media only screen and (max-width: 767px) {
    .banner-half {
        border-width: 1px;
    }

    .banner-half:last-child {
        border-left: 0;
    }
}

.trending-line {
    border: 1px solid;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 45px;
    margin: 0 0 25px;
    position: relative;
}

.trending-line .trending-now {
    line-height: 48px;
    background-color: #ff3c36;
    float: left;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    padding: 0 20px;
    margin-right: 5px;
}

.trending-slides {
    padding: 0 5px;
}

.trending-slides .marquee {
    overflow: hidden;

}

.trending-slides .marquee .js-marquee {
    margin: 0;

}

.trending-slides .marquee a {
    padding: 0 25px;
    font-weight: 500;

}

.trending-slides .marquee a img {
    width: 25px;
    height: auto;
    margin-right: 5px;

}

.trending-line .trending-now strong {
    font-weight: 500;
}

.banner-promotions-wrapper {
    margin-bottom: 25px;
    text-align: center;
}

.trending-line .trending-control {
    position: absolute;
    top: 0;
    right: 0;
}

.alert-spinner {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    vertical-align: middle;
}

.double-bounce1,
.double-bounce2 {
    background: #fff;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.7;
    position: absolute;
    top: -2px;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.slick-slide {
    margin: 0 auto;
}

.slick-slide,
.slick-slide * {
    outline: none !important;
}

.slick-item {
    position: relative;
}

.slider-figcaption {
    padding: 20px 10% 20px 35px;
}

.main-slider {
    border-right: 1px solid #e8e8e8;
}
.main-slider .slider-figcaption {
    bottom: 20px;
}

.slider-figcaption-1 {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: left;
    width: 100%;
    z-index: 10;
}

.slider-figcaption a {
    color: #fff;
}

.slider-figcaption .slide-title {
    margin: 5px 10px;
    font-size: 32px;
    line-height: 1.5;
    text-transform: uppercase;
}

@media only screen and (min-width: 1600px) {
    .slider-figcaption .slide-title {
        font-size: 42px;
    }
}

.slider-figcaption .slide-title-1 {
    font-size: 18px;
}

.slider-figcaption-1 .slide-title a {
    box-decoration-break: clone;
    -webkit-box-shadow: 10px 0 0 rgba(0, 0, 0, .8), -10px 0 0 rgba(0, 0, 0, .8);
    -moz-box-shadow: 10px 0 0 rgba(0, 0, 0, .8), -10px 0 0 rgba(0, 0, 0, .8);
    -ms-box-shadow: 10px 0 0 rgba(0, 0, 0, .8), -10px 0 0 rgba(0, 0, 0, .8);
    -o-box-shadow: 10px 0 0 rgba(0, 0, 0, .8), -10px 0 0 rgba(0, 0, 0, .8);
    box-shadow: 10px 0 0 rgba(0, 0, 0, .8), -10px 0 0 rgba(0, 0, 0, .8);
    display: inline;

}

.slider-figcaption .grid-item-metadata .item-metadata {
    padding-left: 5px;
    padding-right: 5px;
}

.af-navcontrols .slick-arrow,
.af-navcontrols .slide-count {
    float: left;
    height: 40px;
    line-height: 50px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.af-navcontrols .slick-arrow {
    cursor: pointer;
    width: 40px;
}

.slide-icon {
    display: inline-block;
    height: 20px;
    width: 20px;
}

.slide-icon,
.featured-article-wrapper,
.categorised-article-wrapper {
    position: relative;
}

.slide-icon-1 {
    position: absolute;
    z-index: 1;
    display: block;
    width: 60px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.75);
    top: 50%;
    margin-top: -25px;
    text-align: center;
    padding: 0;
}

.slide-icon:before {
    display: block;
    line-height: 50px;
}

.slide-prev:hover,
.slide-prev:focus,
.slide-next:hover,
.slide-next:focus {
    outline: none !important;
}

.slide-prev {
    left: 0;
}

.slide-next {
    right: 0;
}

.featured-article-wrapper figcaption {
    position: absolute;
    bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
}

.slide-icon:before {
    color: rgba(255, 255, 255, 0.75);
    display: inline-block;
    position: absolute;
    top: 0;
    margin: auto;
    height: 20px;
    width: 20px;
}

.slide-prev:before {

    left: 10px;
    right: inherit;
}

.slide-next:before {

    left: inherit;
    right: 10px;
}

.slide-prev-1:before {
    left: 35px;
}

#secondary .slide-prev-1:before, .posts-carousel .slide-prev-1:before, .latest-posts-carousel .slide-prev-1:before {
    left: 20px;
}

.posts-carousel .slide-icon-1 {
    top: 45%;
}

.slide-next-1:before {
    right: 35px;
}

#secondary .slide-next-1:before, .posts-carousel .slide-prev-1:before, .latest-posts-carousel .slide-next-1:before {
    left: 20px;
}

.trending-slides .slide-prev,
.trending-slides .slide-next {
    top: 0;
    width: 40px;
    position: absolute;
    z-index: 1;
    height: 45px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    padding: 0;
}

.trending-slides .slick-slide a {
    margin-right: 30px;
}

.trending-slides .slide-prev {
    right: 40px;
    left: inherit;
}

.trending-slides .slide-next {
    right: 0;
}

.trending-slides .slide-icon:before {
    height: 16px;
    line-height: 16px;
}

.post-description {
    font-size: 15px;
    margin: 5px auto;
}

.featured-article-wrapper figcaption a {
    color: #fff;
}

.figure-categories-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.figure-categories .cat-links a {
    display: inline-block;
    line-height: 1;
}

.figure-categories .cat-links a {
    padding-right: 5px;
    padding-left: 5px;
}

.figure-categories:not(.figure-categories-bg) .cat-links a:first-child {
    padding-left: 0;
}

.figure-categories-bg .cat-links a {
    padding: 5px 10px;
}

.grid-item-metadata {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
}

.grid-item-metadata i {
    border: 1px solid;
    border-radius: 50%;
    padding: 5px;
    margin-right: 5px;
}

.spotlight-post {
    margin-bottom: 25px;
}

.spotlight-post-1 {
    margin-bottom: 0;

}

.spotlight-post figcaption {
    padding: 20px;
}

.categorised-article-list {
    border-bottom: 1px solid;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.elegant_magazine_double_col_double_categorised_posts .categorised-article-list:last-child {
    border: none;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
    display: block;
}

.hentry {
    margin: 0 0 1.5em;
}

.hentry.has-post-thumbnail .header-details-wrapper {
    margin-left: 100px;
}

.hentry.has-post-thumbnail .entry-header-details {
    margin-top: -52px;
    background: #fff;
    padding: 30px 0 40px 30px;
    position: relative;
}

.entry-header-details .post-excerpt {
    font-style: italic;
    font-size: 22px;
}

.entry-header-details .entry-title,
.archive .site-content .header-title-wrapper .page-title {
    margin-top: 20px;
    margin-bottom: 15px;
    letter-spacing: 0.02em;
}

@media only screen and (min-width: 1600px) {
    .entry-header-details .entry-title,
    .archive .site-content .header-title-wrapper .page-title {
        font-size: 48px;
    }
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.entry-content-wrap {
    font-size: 18px;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

.article-title {
    margin: 0 auto;
    line-height: 1.4;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .5px;
}

.article-title-1 {
    font-size: 20px;
}

@media only screen and (min-width: 1600px) {
    .article-title-1 {
        font-size: 24px;
    }
}

#primary .article-title-2 {
    font-size: 18px;
}

.em-reated-posts {
    margin-left: 147px;
    margin-top: 35px;
}

.em-reated-posts .related-title {
    margin: 0 auto;
}

.em-reated-posts ul {
    list-style: none;
    margin: 15px auto 30px;
    padding-left: 0;
}

.em-reated-posts ul li {
    border-bottom: 1px solid;
    padding: 15px 0;
    margin-bottom: 15px;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

.comments-area .comments-title, .comments-area .comment-reply-title, .related-title {
    margin: 30px auto;
    padding: 20px 0;
    text-transform: uppercase;
}

.comments-area .comments-title {
    padding-left: 20px;
    padding-right: 20px;
}

.comment-respond .comment-reply-title,
.related-title {
    border-bottom: 1px solid;
    margin-top: 30px;
}

.comments-area .comment-list {
    padding-left: 0;
    margin-left: 0;
}

.comments-area .comment-list, .comments-area .comment-list .children {
    list-style-type: none;
}

.comments-area .comment-author img {
    border-radius: 100%;
    width: 64px;
    height: 64px;
    float: left;
    margin-right: 15px;
}

.comments-area .comment-author a {
    color: #35353c;
    text-decoration: none;
}

.comments-area .comment-content,
.comments-area .comment-awaiting-moderation,
.comments-area .reply {
    padding-left: 80px;
}

.comments-area .reply {
    margin-bottom: 15px;
}

.comments-area .reply .comment-reply-link {
    text-decoration: none;
    padding: 0 15px;
    border-radius: 4px;
    line-height: 26px;
    height: 26px;
    display: inline-block;
}

.comments-area .reply .comment-reply-link:hover {
    color: #3c3c3c;
}

.comments-area .comment-respond {
    outline: 0;
}

.comments-area .comment-form-comment label, .comments-area .comment-form-comment textarea {
    width: 100%
}

.comments-area .comment-respond .form-submit input {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;
    min-width: 180px;
}

.comments-area .comment-respond .form-submit input,
.comments-area .comment-respond .form-submit input:hover {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.comments-area .comment-respond .comment-form-author label,
.comments-area .comment-respond .comment-form-email label,
.comments-area .comment-respond .comment-form-url label {
    width: 400px;
}

.comments-area .comment-notes {
    margin-bottom: 30px;
}

.comments-area .comment-form label {
    color: #808086;
}

.comments-area .blog-img-wide.blogdetails img {
    height: auto;
    padding: 20px;
    width: 100%;
}

.comment-form label {
    color: #707070;
    display: block;
    text-transform: uppercase;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
    border-color: #e4e4e4;
    width: 100%;
}

.comment-form-author,
.comment-form-email {
    width: 50%;
    float: left;
}

.comment-form-author {
    padding-right: 10px;
}

.comment-form-email {
    padding-left: 10px;
}

.comment.depth-4 ol {
    margin-left: 0;
    padding-left: 0;
}

@media only screen and (max-width: 767px) {
    .comments-area .comment-list,
    .comments-area .comment-list .children {
        margin-left: 0;
        padding-left: 0;
    }
}

.comment-metadata {
    background: #f3f3f3;
    font-size: 85%;
    line-height: 1.2;
    margin: 5px auto 10px;
    display: inline-block;
    padding: 5px 15px;
}

/*--------------------------------------------------------------
##Back to top
--------------------------------------------------------------*/
#scroll-up {
    position: fixed;
    z-index: 8000;
    bottom: 40px;
    right: 20px;
    display: none;
    width: 50px;
    height: 50px;
    font-size: 28px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    opacity: 1 !important;

}

#scroll-up:hover,
#scroll-up:focus {
    background-color: #373737;
    border-color: #373737;

}

#scroll-up i {
    display: inline-block;
}

#scroll-up:hover i,
#scroll-up:focus i {
    color: #fff;

}

@media only screen and (max-width: 767px) {
    #scroll-up {
        right: 20px;
        bottom: 20px;
    }
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
    display: inline-block;
}

/*Elementor Support*/
.elementor-html #af-preloader{
    display: none;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}

.gallery .slick-dots {
    bottom: -30px;
}

.gallery-item {
    display: block;
    float: left;
    width: 100%;
    padding: 0 5px;
    position: relative;
    margin-bottom: 20px;
}

.gallery-columns-2 .gallery-item {
    width: 50%;
}

.gallery-columns-2 .gallery-item:nth-child(2n+1) {
    clear: left;
}

.gallery-columns-3 .gallery-item {
    width: 33.33%;
}

.gallery-columns-3 .gallery-item:nth-child(3n+1) {
    clear: left;
}

.gallery-columns-4 .gallery-item {
    width: 25%;
}

.gallery-columns-4 .gallery-item:nth-child(4n+1) {
    clear: left;
}

.gallery-columns-5 .gallery-item {
    width: 20%;
}

.gallery-columns-5 .gallery-item:nth-child(5n+1) {
    clear: left;
}

.gallery-columns-6 .gallery-item {
    width: 16.66%;
}

.gallery-columns-6 .gallery-item:nth-child(6n+1) {
    clear: left;
}

.gallery-columns-7 .gallery-item {
    width: 14.28%;
}

.gallery-columns-7 .gallery-item:nth-child(7n+1) {
    clear: left;
}

.gallery-columns-8 .gallery-item {
    width: 12.5%;
}

.gallery-columns-8 .gallery-item:nth-child(8n+1) {
    clear: left;
}

.gallery-columns-9 .gallery-item {
    width: 11.11%;
}

.gallery-columns-9 .gallery-item:nth-child(9n+1) {
    clear: left;
}

.gallery-caption {
    display: block;
    background: #000;
    background: rgba(0, 0, 0, .74);
    color: #fff;
    font-size: 85%;
    line-height: 1.22857143;
    position: absolute;
    bottom: 0;
    left: 5px;
    right: 5px;
    padding: 15px;
    text-align: left;
}

@media only screen and (max-width: 991px) {
    body .gallery .gallery-item {
        width: 50%;
        clear: none !important;
    }

    body .gallery.gallery-columns-1 .gallery-item {
        width: 100%;
    }

    body .gallery .gallery-item:nth-child(2n+1) {
        clear: left !important;
    }
}

@media only screen and (max-width: 640px) {
    body .gallery .gallery-item {
        float: left;
        margin-left: auto;
        margin-right: auto;
        max-width: 290px;
        width: 50%;
    }
}

/*--------------------------------------------------------------
# Social Icons
--------------------------------------------------------------*/
.social-navigation ul li a:after,
.social-widget-menu ul a:before {
    display: inline-block;
    font: normal normal normal 14px/1 'Font Awesome 5 Brands';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main-navigation ul ul a:before {
    display: inline-block;
    font: normal normal normal 14px/1 'Font Awesome 5 Free';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
}

.top-masthead .social-navigation,
.footer-social-wrapper .social-navigation {
    float: right;
}

.social-navigation ul,
.social-widget-menu ul,
.em-author-details ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.social-navigation ul li,
.social-widget-menu ul li,
.em-author-details ul li {
    display: inline-block;
}

.social-navigation ul li a,
.social-widget-menu ul li a,
.em-author-details ul li a {
    display: block;
    width: 45px;
    height: 45px;
    font-size: 18px;
    line-height: 40px;
    position: relative;
    text-align: center;
    border-radius: 100%;
}

.social-navigation ul li a {
    width: 35px;
    font-size: 16px;
    text-align: right; 
}

.social-navigation ul li a:after,
.social-widget-menu ul a:before,
.em-author-details ul li a:before {
    vertical-align: middle;
}

.social-widget-menu ul {
    text-align: left;
}

.social-widget-menu ul li a,
.em-author-details ul li a {
    border: 1px solid;
}

.social-navigation ul a[href*="dribbble.com"]:after,
.social-widget-menu ul a[href*="dribbble.com"]:before {
    content: "\f17d";
}

.social-navigation ul a[href*="facebook.com"]:after,
.social-widget-menu ul a[href*="facebook.com"]:before {
    content: "\f39e";
}

.social-navigation ul a[href*="vk.com"]:after,
.social-widget-menu ul a[href*="vk.com"]:before {
    content: "\f189";
}

.social-navigation ul a[href*="twitter.com"]:after,
.social-widget-menu ul a[href*="twitter.com"]:before {
    content: "\f099";
}

.social-navigation ul a[href*="linkedin.com"]:after,
.social-widget-menu ul a[href*="linkedin.com"]:before {
    content: "\f0e1";
}

.social-navigation ul a[href*="instagram.com"]:after,
.social-widget-menu ul a[href*="instagram.com"]:before {
    content: "\f16d";
}

.social-navigation ul a[href*="youtube.com"]:after,
.social-widget-menu ul a[href*="youtube.com"]:before {
    content: "\f167";
}

.social-navigation ul a[href*="vimeo.com"]:after,
.social-widget-menu ul a[href*="vimeo.com"]:before {
    content: "\f27d";
}

.social-navigation ul a[href*="plus.google.com"]:after,
.social-widget-menu ul a[href*="plus.google.com"]:before {
    content: "\f0d5";
}

.social-navigation ul a[href*="pinterest.com"]:after,
.social-widget-menu ul a[href*="pinterest.com"]:before {
    content: "\f0d2";
}

.social-navigation ul a[href*="tumblr.com"]:after,
.social-widget-menu ul a[href*="tumblr.com"]:before {
    content: "\f173";
}

.social-navigation ul a[href*="wordpress.org"]:after,
.social-widget-menu ul a[href*="wordpress.org"]:before,
.social-navigation ul a[href*="wordpress.com"]:after,
.social-widget-menu ul a[href*="wordpress.com"]:before {
    content: "\f19a";
}

.social-navigation ul a[href*="whatsapp.com"]:after,
.social-widget-menu ul a[href*="whatsapp.com"]:before {
    content: "\f232";
}

.social-navigation ul a[href*="reddit.com"]:after,
.social-widget-menu ul a[href*="reddit.com"]:before {
    content: "\f281";
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.em-latest-post-carousel {
    margin-bottom: -6px;
}

.latest-posts-carousel {
    text-align: center;
}

.latest-posts-carousel .slick-track {
    display: inline-block;
}

.site-footer {
    background: #1f2125;
    padding-top: 60px;
}

.site-footer,
.site-footer a {
    color: #fff;
}

.footer-logo {
    padding: 30px 0;
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.secondary-footer {
    padding: 30px 0;
}

.footer-nav-wrapper ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.footer-nav-wrapper ul li {
    display: inline-block;
}

.footer-nav-wrapper ul li a {
    padding-right: 16px;
    line-height: 45px;
}

.site-info {
    background: #121314;
    padding: 20px 0;
    text-align: center;
}

.widget_recent_comments li,
.widget_pages li,
.widget_archive li,
.widget_meta li,
.widget_categories li,
.widget_nav_menu li,
.widget_recent_entries li,
.offcanvas,
.icon-search,
.navigation-container,
.main-navigation,
.af-main-banner,
.banner-half,
.categorised-article-list,
.trending-line,
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation,
.comment-respond .comment-reply-title,
.related-title,
.em-reated-posts ul li,
.single.align-content-right #primary,
.archive.align-content-right #primary,
.single.align-content-left #primary,
.archive.align-content-left #primary,
.site-footer .tagcloud a {
    border-color: #e8e8e8;
}

.main-navigation,
.banner-half,
.trending-line {
    background: #fff;
}

.social-widget-menu ul li a,
.em-author-details ul li a,
.footer-logo,
.tagcloud a {
    border-color: #35373c;
}

.offcanvas-menu span,
.data-bg,
.primary-color {
    background-color: #333;
    color: #fff;
}

.figure-categories .cat-links a {
    color: #ff3c36;
}

.secondary-color,
button, input[type="button"], input[type="reset"], input[type="submit"],
.site-content .search-form .search-submit,
.site-footer .search-form .search-submit,
.figure-categories-bg .cat-links a,
.tagcloud a:hover,
.tagcloud a:hover {
    background: #ff3c36;
    color: #fff;
}

.slider-figcaption-1 .slide-title a,
.grid-item-metadata-1 {
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
}



.spotlight-post {
    background: #f6f6f6;
    margin-bottom: 20px;
}

.slider-figcaption .grid-item-metadata .item-metadata,
.af-navcontrols .slide-count,
.figure-categories .cat-links {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .05rem;
    text-transform: uppercase;
}

.af-navcontrols .slide-count {
    color: rgba(255, 255, 255, 0.65);
}

.em-post-format {
    color: #00BCD4;
    display: inline-block;
}

.figure-categories-bg .em-post-format {
    background: #00BCD4;
    color: #fff;
    font-size: 15px;

}

.figure-categories-bg .em-post-format i {
    padding-left: 5px;
    padding-right: 5px;
}

@media only screen and (max-width: 1199px) {
    .top-masthead.top-masthead-overlay {
        position: relative;
        top: 0;

    }
}

@media only screen and (max-width: 991px) {
    .top-masthead.top-masthead-overlay {
        position: relative;
        top: 0;

    }

    body .top-masthead .social-navigation,
    body .footer-social-wrapper .social-navigation {
        float: none;
    }

    body .top-masthead .social-navigation {
        margin-bottom: 20px;
    }

    .device-center {
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {
    .slider-figcaption .slide-title {
        font-size: 22px;
    }

    .article-title-1 {
        font-size: 16px;
    }

    .article-title-1 {
        font-size: 14px;
    }

    .social-navigation ul li a,
    .social-widget-menu ul li a,
    .em-author-details ul li a {
        width: 34px;
        height: 34px;
        font-size: 14px;
        line-height: 34px;
        text-align: center;
    }

    .hentry.has-post-thumbnail .header-details-wrapper,
    body .em-reated-posts {
        margin-left: auto;
    }

    .site-main .comment-navigation:after,
    .site-main .posts-navigation:after,
    .site-main .post-navigation:after {
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    .footer-nav-wrapper ul {
        text-align: center;
    }

    /*Search*/
    .af-search-box .search-form{
        width: 90%;
    }

    .af-search-close{
        top: 30px;
        right: 30px;
    }

    .main-navigation .menu .menu-mobile li a{
        padding-left: 30px;
    }

    .hentry.has-post-thumbnail .entry-header-details{
        margin-top: 0;
    }

    .site-header .site-branding .site-title a {
        padding-left: 0;
        padding-right: 0;
    }

    .nav-previous a, .nav-next a{
        font-size: 16px;
    }


}

@media only screen and (max-width: 480px) {
    .site-content .site-main .widget-title span,
    #primary .af-tabs.nav-tabs > li > a {
        font-size: 24px;
    }
}

@media only screen and (max-width: 640px) {
    .topbar-date {
        margin-right: auto;
        padding-right: 0;
    }

    .trending-line .trending-now {
        width: 100%;
    }

    .trending-slides {
        clear: both;
    }

    .site-branding .site-title {
        font-size: 38px;
    }

    .site-branding .site-description {
        font-size: 14px;
    }

    /*Search*/
    .af-search-close {
        top: 15px;
        right: 15px;

    }

    .af-search-box .search-form label {
        width: 100%;
        padding: 0 15px;
    }

    .af-search-box .search-form label .search-field{
        border-width: 1px;
    }
    .af-search-box .search-form .search-submit{
        width: 65%;
        float: none;
    }

    .comment-navigation .nav-previous,
    .posts-navigation .nav-previous,
    .post-navigation .nav-previous,
    .post-navigation .nav-next {
        width: 100%;
    }

    .wp-post-author-shortcode.left{
        text-align: center;
    }
    .wp-post-author-shortcode.left .awpa-author-block{
        width: 100%;
    }
}

.error-404 {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.error-404 .widgettitle {
    padding-bottom: 20px;
    margin: 60px 0 20px;
    border-bottom: 1px solid #eee;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.em-breadcrumbs {
    -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    -ms-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
}

.em-breadcrumbs ul {
    list-style: none;
    margin: 0 auto 30px;
    padding: 0 0 15px;
    border-bottom: 1px solid #e8e8e8;
}

.em-breadcrumbs ul li {
    display: inline;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
}

.em-breadcrumbs ul .trail-item span {
    position: relative;
    padding-left: 10px;
    padding-right: 5px;
}

.em-breadcrumbs ul .trail-item.trail-begin span {
    padding-left: 0;
}

.em-breadcrumbs ul li span:before {
    display: inline-block;
    content: "/";
    position: absolute;
    top: 0;
    left: 0;
}

.em-breadcrumbs ul .trail-item.trail-begin span:before {
    content: none;
}

.archive .site-content .header-title-wrapper,
.search-results .site-content .header-title-wrapper{
    border: 0;
    margin: 0 auto;
}

.archive .site-content .header-title-wrapper .page-title {
    margin-top: 0;
}

.archive .site-content .align-items-center .entry-title {
    margin-top: 0;
}

.archive .site .site-content #primary .align-items-center {
    display: block !important;
}

.archive .site .site-content #primary .align-items-center .figure-categories {
    margin-top: 10px;
}

.wp-post-author-shortcode{
    border: none;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    margin-top: 50px;
}

.edit-link{
  margin: 0 15px;
}

.full-post-block img,
.full-width-image img
{
    width: 100%;
}

a.em-figure-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.aft-image-caption.col-sm-12 {
    padding: 0;
}

.aft-image-caption p {
    margin: 0 0 5px 0;    
    font-size: 14px;
    font-style: italic;
    float: left;   
}